<div class="container" id="welcome">
    <h1 class="text-center">Your Todo's</h1>
    <div class="alert alert-warning" *ngIf='emptyError'>{{ emptyError }}</div>
    <div class="alert alert-success" *ngIf='message'>{{ message }}</div>
    <!-- <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="done">
            <mat-header-cell *matHeaderCellDef> Done </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.completed }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="update">
            <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button (click)="updateTodo(element.id)" class="btn btn-primary">Update</button> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button (click)="deleteTodo(element.id)" class="btn btn-warning">Delete</button> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> -->
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Done</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.completed }}</td>
                <td><button (click)="updateTodo(todo.id)" class="btn btn-primary">Update</button></td>
                <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <h2 class="text-center" id="welcome">Add a new Todo:</h2>
    <div class="row" id="button">
        <button mat-raised-button color="primary" (click)="addTodo()">Add</button>
    </div>
</div>