<mat-toolbar>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <span><a class="navbar-brand" routerLink="/todos" id="nav-brand">Todos App</a></span>
    <span class="example-spacer"></span>
  </mat-toolbar>
