<div class="container">
    <h1>Edit the Todo</h1>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Modify all required fields</div>
    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" [(ngModel)]="todo.title" class="form-control" name="title" placeholder="Enter the title of what needs to be done" required="required" minlength="5">
        </div>
        <div class="form-group">
            <label for="completed">Finished?</label>
            <input type="text" [(ngModel)]="todo.completed" class="form-control" name="completed" placeholder="Enter either true or false">
        </div>
        
        <button mat-raised-button color="accent" type="submit">Save</button>
    </form>
</div>
